{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container col-md-6">
    <h3 class="mt-2">Update Book</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field | add_class:"form-control" }}
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Update Book">
    </form>
</div>
{% endblock %}